* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

#root {
  min-height: 100vh;
}

input:focus {
  outline: none;
}

button {
  font-family: 'Merriweather', serif;
  cursor: pointer;
  border: none;
  background: none;
}
